---
import feactures from "../../config/feactures.json";
---

<section class="mb-5 py-2">
  <h1 class="text-5xl font-bold my-10 text-center">Caracteristicas</h1>
  <div class="grid gap-4 px-3 drop-shadow-xl md:grid-cols-3 ">
    {
      feactures.map((f) => (
        <div class="bg-slate-800 p-10 rounded-xl ">
          <h2 class="text-2xl font-bold my-2">{f.title}</h2>
          <p class="text-sm text-slate-300">{f.description}</p>
        </div>
      ))
    }
  </div>
</section>
