<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-6 text-center md:text-left md:rounded-xl drop-shadow-md ">
  <div>
    <h1 class="text-5xl font-bold pb-2">Protegemos tu contraseña</h1>
    <p class="my-4 text-lg md:text-2xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias tempore eligendi explicabo commodi non dolore nihil? Ipsa, ducimus harum. Quasi.
    </p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400 rounded-sm hover:shadow-md hover:shadow-indigo-600 ">Empezar ahora</button>
  </div>
  <img src="images/fingerprint.svg" alt="finger print" class="w-80" />
</header>
