---
import Layout from "../layouts/layout.astro"

---

<Layout title="Sobre Nosotros">
  <h2>sobre nosotors</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi omnis ea necessitatibus, eaque labore placeat quaerat quisquam ad nesciunt vero ullam vel repellat, beatae nostrum cupiditate dolorum porro earum est voluptatibus! Nihil nesciunt dicta delectus quos architecto maiores ab cumque sint possimus. Quisquam quia exercitationem vero dignissimos officia ea! Molestias culpa laudantium nihil dolor, blanditiis delectus unde ipsa, labore exercitationem temporibus neque. Consectetur, labore amet corporis distinctio magnam voluptatibus possimus? Provident cumque asperiores quod aliquid, accusamus praesentium recusandae impedit temporibus quidem corrupti quos voluptatem quisquam qui ipsa incidunt maiores animi saepe labore sapiente ullam delectus vero culpa amet minima! Corrupti.</p>
</Layout>